<div class="row">
  <div class="col-md-12">
    <h3 class="text-center my-3">Add Post</h3>
    <hr>
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
        <div>{{showTitleErrors()}}</div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div>{{showDescriptionErrors()}}</div>
      </div>
      <div class="mb-3 text-center">
        <button mat-raised-button color="accent" type="submit" [disabled]="!postForm.valid">Add Post</button>
      </div>
    </form>
  </div>
</div>
